DATABASE_URL="postgresql://postgres:0VnSw8grsLK8WpIE@db.fulvllyekwrzwphqenak.supabase.co:5432/postgres?sslmode=require"
QR_JWT_SECRET="V1N3YWdUZXN0U2VjcmV0S2V5Rm9yU1VwYWJhc2UyMDI0MjU2"
NEXT_PUBLIC_APP_URL="https://kool-addon.vercel.app"
NEXT_PUBLIC_SUPABASE_URL="https://fulvllyekwrzwphqenak.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ1bHZsbHlla3dyendwaHFlbmFrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg0MjE1MTAsImV4cCI6MjEwMzk5NzUxMH0.yaUkZtY28Ssmcfy2BZ3Qg6UhzK7X-wsIOgdhGkfQgEA"